.body {
	font-size: 16px;
}

#photos-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
	margin-bottom: 20px;
}

.photo {
	margin: 15px;
}

.photo.empty {
	background-color: darkgrey;
	width: 200px;
	height: 200px;
	box-shadow: 10px 10px 1px #ededed;
}

.photo > img {
		box-shadow: 10px 10px 1px #ededed;
		max-height: 150px;
}

.photo > img:hover {
		cursor: zoom-in;
}

.photo.empty > img {
	margin: 55px;
	width: 90px;
	box-shadow: none;
	cursor: auto;
}

.attribution {
	text-align: center;
	font-size: 0.75rem;
}
