.body {
	font-size: 16px;
}

#photos-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
	margin-bottom: 20px;
}

.photo {
	margin: 15px;
}

.photo.empty {
	background-color: darkgrey;
	width: 200px;
	height: 200px;
	box-shadow: 10px 10px 1px #ededed;
}

.photo > img {
		box-shadow: 10px 10px 1px #ededed;
		max-height: 150px;
}

.photo > img:hover {
		cursor: zoom-in;
}

.photo.empty > img {
	margin: 55px;
	width: 90px;
	box-shadow: none;
	cursor: auto;
}

.attribution {
	text-align: center;
	font-size: 0.75rem;
}

#modal {
	position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.8);
  padding-top: 25px;
  display: flex;
  align-items: flex-start;
}

#modal.hidden {
	display: none;
}

#left-arrow, #right-arrow {
	color: #e8e8e3;
	font-size: 3rem;
	cursor: pointer;
}

#left-arrow:hover, #right-arrow:hover {
	text-shadow: 0px 0px 8px #e8e8e3;
}

#photo-viewer {
	position: relative;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

#image-wrap {
	position: relative;
  background-color: #e8e8e3;
  border: 14px solid #e8e8e3;
	border-radius: 10px;
	padding-bottom: 10px;
	margin: 0 15px;
}

#image-wrap img {
	display: block;
}

#image-wrap span {
	position: relative;
  bottom: -11px;
}

/* close [x] icon */
#image-wrap i {
	color: black;
	font-style: normal;
	position: absolute;
	right: 0;
	font-size: 2rem;
	cursor: pointer;
}

#image-wrap i:hover {
	text-shadow: 0px 0px 4px #909090;
}
