.body {
	font-size: 16px;
}

.photos-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
	margin-bottom: 20px;
}

.photo {
	background-color: darkgrey;
	width: 200px;
	height: 200px;
	margin: 15px;
	box-shadow: 10px 10px 1px #ededed;
}

.photo:hover {
	cursor: zoom-in;
}

.photo > img {
	margin: 55px;
	width: 90px;
}

.attribution {
	text-align: center;
	font-size: 0.75rem;
}
