/* Animations */
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.fadeIn {
	animation-name: fadeIn;
}

/* Element Styles */
body {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	background-image: url('white_wall.png');
	background-repeat: repeat;
}

#photos-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
	margin-bottom: 20px;
}

.photo {
	margin: 15px;
	animation-duration: 2s;
}

.photo.empty {
	background-color: #9193a0;
	width: 150px;
	height: 150px;
	box-shadow: inset 0px 0px 34px 5px black;
	border: 5px ridge #5f6170;
}

.photo > img {
		box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.31);
		border: 5px ridge #5f6170;
		max-height: 150px;
}

.photo > img:hover {
		cursor: zoom-in;
}

.photo.empty > img {
	margin: 40px;
	width: 69px;
	box-shadow: none;
	border: none;
	cursor: auto;
}

.attribution {
	text-align: center;
	font-size: 0.8rem;
	margin-top: 10px;
}

#loading {
	width: 40px;
	position: fixed;
	top: 0;
}

#loading.hidden {
	display: none;
}

.error {
	text-align: center;
  background: #ffb1b8;
  border: 2px groove red;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
}

.error.hidden {
	display: none;
}

#modal {
	position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.8);
  padding: 25px 0;
  display: flex;
  align-items: flex-start;
}

#modal.hidden {
	display: none;
}

#left-arrow, #right-arrow {
	color: #e8e8e3;
	font-size: 3rem;
	cursor: pointer;
}

#left-arrow:hover, #right-arrow:hover {
	text-shadow: 0px 0px 8px #e8e8e3;
}

#photo-viewer {
	position: relative;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

#image-wrap {
	position: relative;
  background-color: #e8e8e3;
  border: 14px solid #e8e8e3;
	border-radius: 10px;
	padding-bottom: 10px;
	margin: 0 15px;
}

#image-wrap img {
	display: block;
	min-width: 287px;
}

#image-wrap span {
	position: relative;
  bottom: -11px;
}

/* close [x] icon */
#image-wrap i {
	color: black;
	font-style: normal;
	position: absolute;
	right: 0;
	font-size: 2rem;
	cursor: pointer;
}

#image-wrap i:hover {
	text-shadow: 0px 0px 4px #909090;
}

/* Mobile style adjustments */
@media screen and (max-device-width: 499px) {
	.photo > img {
		max-height: 250px;
	}

	.attribution {
		font-size: 1.75rem;
		margin-top: 20px;
		line-height: 1.5;
	}
}
